{% extends 'schedule/base.html' %}

{% load crispy_forms_tags %}

{% block title %}つくる{% endblock %}

{% block page_title %}つくる{% endblock %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <fieldset>
    {{ form|crispy }}
    {{ formset.management_form }}
    {{ formset|crispy }}
    {% if formset.non_form_errors %}
      {{ formset|as_crispy_errors }}
    {% endif %}
    <div>
      <input type="submit" class="btn btn-default" value="登録">
    </div>
  </fieldset>
</form>
{% endblock %}