{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}つくる{% endblock %}

{% block page_title %}つくる{% endblock %}

{% block new_active %}active{% endblock %}

{% block content %}
<div class="well">
  <form action="{% url 'schedules:new' %}" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>イベント</legend>
      {{ form|crispy }}
    </fieldset>
    <fieldset>
      {{ formset.management_form }}
      <legend>日付</legend>
      {{ formset|crispy }}
      {% if formset.non_form_errors %}
        {{ formset|as_crispy_errors }}
      {% endif %}
    </fieldset>
    <div>
      <input type="submit" class="btn btn-primary" value="登録する">
    </div>
  </form>
</div>
{% endblock %}